name: Push to Artifact Registry

on:
  push:
    branches: [ "main" ]

jobs:
  push_to_ar:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account: ${{ secrets.SERVICEACCOUNTEMAIL }}
          workload_identity_provider: 'projects/300199361793/locations/global/workloadIdentityPools/systemapp-dev-pool/providers/systemapp-provider-id-action'

      - name: Docker Auth
        uses: docker/login-action@v3
        with:
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}
          registry: europe-north1-docker.pkg.dev

      - name: Build and Push Container
        run: |
          IMAGE_NAME=systemapp-image
          AR_URL=${{ secrets.REGISTRY_URL }}
          docker build -t "${AR_URL}/${IMAGE_NAME}:${GITHUB_SHA}" .
          docker push "${AR_URL}/${IMAGE_NAME}:${GITHUB_SHA}"

      - name: Debug OIDC token
        run: |
          curl -s -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL" | jq .
